<% provide(:title, "Serveについて") %>

<div id="page-top" type="hidden"></div>
<a href="#page-top" class="page-top-btn">
  <i class="fa-regular fa-hand-point-up icon-size"></i>
  <p>TOP</p>
</a>

<div class="px-4 pt-5 mb-5 text-center border-bottom about-page">
  <h2 class="fw-bold">Serveについて</h2>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">新たな豆との出会いを提供します。例えば...</p><br>
    <div class="center">
      <a href="#topic1" class="btn btn-outline-secondary btn-lg px-4 mb-4"><i class="fa-solid fa-check"></i> 豆を記録できる</a>
      <a href="#topic2" class="btn btn-outline-secondary btn-lg px-4 mb-4"><i class="fa-solid fa-check"></i> 記録の詳細も確認</a>
      <a href="#topic3" class="btn btn-outline-secondary btn-lg px-4 mb-4"><i class="fa-solid fa-check"></i> 他の人の記録も</a>
      <a href="#topic4" class="btn btn-outline-secondary btn-lg px-4 mb-4"><i class="fa-solid fa-check"></i> お気に入りを見つけよう</a>
    </div><br>
  </div>
  <div class="overflow-hidden" style="max-height: 30vh;">
    <div class="container px-5">
      <%= image_tag "top_page.png", class: "img-fluid border rounded-3 shadow-lg mb-4", alt: "Example image", width: "700", height: "500", loading: "lazy" %>
    </div>
  </div>
</div>

<div id="topic1" class="about-page mb-5">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <%= image_tag "new_post_page.png", class: "img-fluid border rounded-3 shadow-lg mb-4", alt: "アプリのサンプル画像", width: "700", height: "500", loading: "lazy" %>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">自分が飲んだ豆を<br>メモ感覚で記録。</h1><br>
        <p class="lead">お店で淹れてもらったドリップコーヒーはもちろん、自宅で豆を挽いてコールドブリューで味わったコーヒーも。</p>
        <p class="lead">メモに残しておくように軽い気持ちで記録してください。</p><br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <% if logged_in? %>
            <%= link_to "記録してみる？", new_beanspost_path, class: "btn btn-outline-secondary btn-lg px-4" %>
          <% else %>
            <%= link_to "記録してみる？", signup_path, class: "btn btn-outline-secondary btn-lg px-4" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="topic2" class="about-page mb-5">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <%= image_tag "post_detail_page.png", class: "img-fluid border rounded-3 shadow-lg mb-4", alt: "Example image", width: "700", height: "500", loading: "lazy" %>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">残した記録は<br>詳細まで思い出せる。</h1><br>
        <p class="lead">あの美味しかったコーヒーどこのだっけ。<br>ドリップ？エスプレッソ？<br>ホット？アイス？<br>どうやって飲んだっけ。</p>
        <p class="lead">ショップや商品名、飲んだ時の感想まで記録しておくことができます。</p><br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <% if logged_in? %>
            <%= link_to "思い出してみる？", current_user, class: "btn btn-outline-secondary btn-lg px-4" %>
          <% else %>
            <%= link_to "思い出してみる？", signup_path, class: "btn btn-outline-secondary btn-lg px-4" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="topic3" class="about-page mb-5">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <%= image_tag "follow_page.png", class: "img-fluid border rounded-3 shadow-lg mb-4", alt: "アプリのサンプル画像", width: "700", height: "500", loading: "lazy" %>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">他のユーザの記録も<br>見てみようかな。</h1><br>
        <p class="lead">あ、この人は自分と好みが似ているな。<br>この人は幅広い種類の豆を楽しんでいるな。</p>
        <p class="lead">気になるユーザーはフォローしてチェックできます。</p><br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <% if logged_in? %>
            <%= link_to "チェックしてみる？", beansposts_path, class: "btn btn-outline-secondary btn-lg px-4" %>
          <% else %>
            <%= link_to "チェックしてみる？", signup_path, class: "btn btn-outline-secondary btn-lg px-4" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="topic4" class="about-page mb-5">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <%= image_tag "post_index_page.png", class: "img-fluid border rounded-3 shadow-lg mb-4", alt: "Example image", width: "700", height: "500", loading: "lazy" %>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">お気に入りのコーヒー<br>きっと見つかります。</h1><br>
        <p class="lead">このコーヒー豆は深煎りでしっかり苦味が強そうだな。<br>お、このレシピで入れるとこんな味になるのか。</p>
        <p class="lead">気になる記録やお気に入りのコーヒーや豆を見つけたら、保存しておけます。</p><br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <% if logged_in? %>
            <%= link_to "探してみる？", beansposts_path, class: "btn btn-outline-secondary btn-lg px-4" %>
          <% else %>
            <%= link_to "探してみる？", signup_path, class: "btn btn-outline-secondary btn-lg px-4" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="px-4 py-5 my-5 text-center about-page">
  <%= image_tag "guest_page.png", class: "img-fluid border rounded-3 shadow-lg mb-4", alt: "アプリのサンプル画像", width: "700", height: "350" %>
  <h1 class="display-5 fw-bold">ちょっとひと息つける場所。</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">いろんな人におすすめを <span class="hero-title">Serve</span> してみませんか。</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <% if logged_in? %>
        <%= link_to "はじめる", "/", class: "btn btn-primary btn-lg px-4 me-sm-3" %>
      <% else %>
        <%= link_to "新規登録", signup_path, class: "btn btn-primary btn-lg px-4 me-sm-3" %>
        <%= link_to "ゲストログイン", guest_path, class: "btn btn-guest btn-lg", data: { "turbo-method": :post } %>
      <% end %>
    </div>
  </div>
</div>