<%# information %>
<div class="container-fluid information center">
    <p>Infomation</p>
</div>

<%# トップページ %>
<% if logged_in? %>
  <div class="container center signup-page">
    <% if @beansposts.any?%>
      <div class="container form-title">
        <h1>フォロー中 投稿一覧</h1>
      </div>
      <span class="sp"><%= paginate @beansposts %></span>
      <div class="album py-5">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <%= render @beansposts %>
          </div>
        </div>
      </div>
      <%= paginate @beansposts %>
    <% else %>
        <div class="container form-title nopost">
          <h1>まずは投稿一覧から<br>ユーザをフォローしてみよう<i class="fa-regular fa-handshake fa-lg"></i></h1>
          <br>
          <h3>
            <%= link_to "beansposts" do %>
              <i class="fa-solid fa-arrow-right"></i>  ユーザをフォローする
            <% end %>
          </h3>
          <h3>
            <%= link_to "about" do %>
              <i class="fa-solid fa-arrow-right"></i>  Serveについて詳しく知る
            <% end %>
          </h3>
        </div>
    <% end %>
  </div>
<% else %>
  <div class="container">
    <div class="top-page">
      <div class="row">
        <div class="col-6">
          <p>
            Find<br>
            New<br>
            Beans.
          </p>
        </div>
        <div class="col-6">
          <p>
            未知の<br>
            豆との<br>
            出会い
          </p>
        </div>
      </div>
      <%# YouTube埋め込み欄 %>
      <div class="container center youtube">
        <h4>イメージ動画</h4>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TcPvlt5ji60" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> <%# オリジナル動画を差し込む %>
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <%= link_to "ゲストログイン", guest_path, class: "btn btn-guest btn-lg", data: { "turbo-method": :post } %>
        <br>
        <%= link_to "新規登録", signup_path, class: "btn btn-primary btn-lg" %>
        <br>
        <%= link_to "Serveについて", about_path, class: "btn btn-info btn-lg" %>
      </div>
    </div>
  </div>
<% end %>