<li id="beanspost-<%= beanspost.id %>">
  <span class="user"><%= link_to beanspost.user.nickname, beanspost.user %></span>
  <span class="content"><%= beanspost.content %></span>
  <span class="timestamp">
    <%= l beanspost.created_at, format: :short %>
    <%= time_ago_in_words(beanspost.created_at) %>前 <%# 記述なしでも可 %>
  </span>
</li>

<%# カード形式に改良 %>
