<% provide(:title, "新規投稿") %>

<div class="container form-title">
  <h1 class="center">新規投稿</h1>
</div>
<div class="container signup-form">
  <div class="mb-3">
    <%= form_with(model: @beanspost) do |f| %>

    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :content, "コメント", class: "form-label required" %>
    <%= f.text_area :content, class: "form-control", placeholder: "この豆どうだった？" %>

    <p>「 <span class="asterisk">*</span> 」は必須項目です。</p>

    <%= f.submit "投稿", class: "btn btn-primary" %>
    
    <% end %>
  </div>
</div>