<% provide(:title, "新規登録") %>

<div class="container form-title">
  <h1 class="center">新規登録</h1>
</div>
<div class="container signup-form">
  <div class="mb-3">
  <%= form_with(model: @user) do |f| %>
    <%= render "shared/error_messages", object: f.object %>

    <%= f.label :name, "名前", class: "form-label required" %>
    <%= f.text_field :name, class: "form-control" %>

    <%= f.label :nickname, "ニックネーム", class: "form-label required" %>
    <%= f.text_field :nickname, class: "form-control" %>

    <%= f.label :email, "メールアドレス", class: "form-label required" %>
    <%= f.email_field :email, class: "form-control" %>

    <%= f.label :password, "パスワード", class: "form-label required" %>
    <%= f.password_field :password, class: "form-control" %>

    <%= f.label :password_confirmation, "パスワード(確認用)", class: "form-label required" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>

    <p>「 <span class="asterisk">*</span> 」は必須項目です。</p>

    <%= f.submit "新規登録", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>