<% provide(:title, "問い合わせ内容確認") %>

<div class="container signup-page center">
  <div class="container form-title">
    <h3>問い合わせ内容確認</h3>
    <p>下記内容でお間違いがないか、ご確認ください。</p>
  </div>
  <div class="container signup-form">
    <div class="mb-3">
    <%= form_with model: @contact, url: contacts_thanks_path, local: true do |f| %>
      <div class="container row">
        <hr>
        <div class="col-12">
          <p>名前</p>
          <h5><%= @contact.name %></h5>
        </div>
        <hr>
        <div class="col-12">
          <p>メールアドレス</p>
          <h5><%= @contact.email %></h5>
        </div>
        <hr>
        <div class="col-12">
          <p>件名</p>
          <h5><%= @contact.subject %></h5>
        </div>
        <hr>
        <div class="col-12">
          <p>問い合わせ内容</p>
          <h5><%= @contact.content %></h5>
        </div>
        <hr>
      </div>

      <%= f.hidden_field :name %>
      <%= f.hidden_field :email %>
      <%= f.hidden_field :subject %>
      <%= f.hidden_field :content %> 

      <%= f.submit "送信", class: "btn btn-primary" %>
    <% end %>
    <%= form_with model: @contact, url: contacts_edit_path, local: true do |f| %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :email %>
      <%= f.hidden_field :subject %>
      <%= f.hidden_field :content %> 
      <%= f.submit "内容修正", class: "btn btn-secondary" %>
    <% end %>
    </div>
  </div>
</div>
  