<header class="container-fluid navbar sticky-top">
  <div class="container">
    <%= link_to image_tag("Servelogo.png", alt: "Serve logo", width: "160"), "/" %>
      <% if logged_in? %>
      <nav class="navbar bg-body-tertiary">
          <ul class="nav justify-contents-end">
            <li><%= link_to "新規投稿", new_beanspost_path, class: "nav-link pc" %></li>
            <li>
              <%= link_to new_beanspost_path, class: "nav-link sp" do %>
                <i class="fa-sharp fa-regular fa-pen-to-square fa-lg" aria-label="新規投稿"></i>
              <% end %>
            </li>
            <li><%= link_to "投稿一覧", beansposts_path, class: "nav-link pc" %></li>
            <li>
              <%= link_to beansposts_path, class: "nav-link sp" do %>
                <i class="fa-regular fa-rectangle-list fa-lg" aria-label="投稿一覧"></i>
              <% end %>
            </li>
            <li><%= link_to "マイページ", user_path(current_user), class: "nav-link pc" %></li>
            <li class="pc"><%= render "searches/search_form" %></li>
            <li>
              <%= link_to user_path(current_user), class: "nav-link sp" do %>
                <i class="fa-sharp fa-regular fa-circle-user fa-lg" aria-label="マイページ"></i>
              <% end %>
            </li>
            <li>
              <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                  <h3 id="offcanvasRightLabel">Serve</h3>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="閉じる"></button>
                </div>
                <div class="offcanvas-body center">
                  <ul>
                    <li class="sp"><%= render "searches/search_form" %></li>
                    <hr class="sp">
                    <li><%= link_to "マイページ", user_path(current_user), class: "nav-link sp" %></li>
                    <hr class="sp">
                    <li><%= link_to "新規投稿", new_beanspost_path, class: "nav-link sp" %></li>
                    <hr class="sp">
                    <li><%= link_to "投稿一覧", beansposts_path, class: "nav-link sp" %></li>
                    <hr>
                    <li><%= link_to "カフェ検索", preparation_path, class: "nav-link" %></li>
                    <hr>
                    <li><%= link_to "コラム", preparation_path, class: "nav-link" %></li>
                    <hr>
                    <li><%= link_to "アプリについて", about_path, class: "nav-link" %></li>
                    <hr>
                    <li><%= link_to "問い合わせ", contacts_path, class: "nav-link" %></li>
                    <hr>
                    <li><%= link_to "ログアウト", logout_path, data: { "turbo-method": :delete }, class: "nav-link" %></li>
                    <hr>
                  </ul>
                </div> <%# offcanvas-body %>
              </div> <%# offcanvas offcanvas-end %>
            </li>
          </ul>
      </nav>
      <% else %>
      <nav>
        <ul class="nav justify-contents-end">
          <li><%= link_to "Serveについて", "about", class: "nav-link pc" %></li>
          <li><%= link_to "問い合わせ", "contacts", class: "nav-link pc" %></li>
          <li><%= link_to "ログイン", "login", class: "nav-link pc-gf" %></li>
          <li class="sp">
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
              <div class="offcanvas-header">
                <h3 id="offcanvasRightLabel">Serve</h3>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="閉じる"></button>
              </div>
              <div class="offcanvas-body center">
                <ul>
                  <hr>
                  <li><%= link_to "Serveについて", "about", class: "nav-link" %></li>
                  <hr>
                  <li><%= link_to "問い合わせ", "contacts", class: "nav-link" %></li>
                  <hr>
                  <li><%= link_to "ログイン", "login", class: "nav-link" %></li>
                  <hr>
                </ul>
              </div> <%# offcanvas-body %>
            </div> <%# offcanvas offcanvas-end %>
          </li>
        </ul>
      </nav>
      <% end %>
  </div>
</header>