<header class="container-fluid navbar sticky-top">
  <div class="container">
    <%= link_to image_tag("Servelogo.png", alt: "Serve logo", width: "160"), "/" %>
      <% if logged_in? %>
      <nav class="navbar bg-body-tertiary">
          <ul class="nav justify-contents-end">
            <li><%= link_to "新規投稿", "#", class: "nav-link" %></li>
            <li><%= link_to "投稿一覧", "#", class: "nav-link" %></li>
            <li>
              <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                  <h3 id="offcanvasRightLabel">Serve</h3>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body center">
                  <ul>
                    <hr>
                    <li><%= link_to "マイページ", "#", class: "nav-link" %></li>
                    <hr>
                    <li><%= link_to "カフェ検索", "#", class: "nav-link" %></li>
                    <hr>
                    <li><%= link_to "コラム", "#", class: "nav-link" %></li>
                    <hr>
                    <li><%= link_to "アプリについて", "about", class: "nav-link" %></li>
                    <hr>
                    <li><%= link_to "問い合わせ", "contact", class: "nav-link" %></li>
                    <hr>
                    <li><%= link_to "ログアウト", "logout", class: "nav-link" %></li>
                    <hr>
                  </ul>
                </div> <%# offcanvas-body %>
              </div> <%# offcanvas offcanvas-end %>
            </li>
          </ul>
      </nav>
      <% else %>
      <nav>
        <ul class="nav justify-contents-end">
          <li><%= link_to "Serveについて", "about", class: "nav-link" %></li>
          <li><%= link_to "問い合わせ", "contact", class: "nav-link" %></li>
          <li><%= link_to "ログイン", "login", class: "nav-link" %></li>
        </ul>
      </nav>
      <% end %>
  </div>
</header>

<%# information %>
<div class="container-fluid information">
    <p>ぐるぐるお知らせ</p>
</div>