<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header class="">
      <div class="container">
        <%= link_to image_tag("Servelogo", alt: "Serve logo", width: "200"), static_pages_home_path, id: "logo" %>
        <nav>
          <ul class="">
            <li><%= link_to "Serveについて", "#" %></li>
            <li><%= link_to "問い合わせ", "#" %></li>
            <li><%= link_to "ログイン", "#" %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
